# Conceptos básicos de Python

ventajas de usar notebooks: son documentos que pueden contener código, ecuaciones, figuras, texto, links. Estos documentos son de fácil comprensión para el humano y también son ejecutables por el computador.

$\Lambda = \sqrt \frac{\theta^3}{(1-\alpha)} + 5$

[Aquí](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#emphasis) pueden ver mas sobre la sintaxis en celdas de texto. También para los archivos README.md de GItHub. 

******
******

### Tipos de variables nativas

```python
Text Type:  	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:  	set
Boolean Type:	bool
```

A diferencia de otros lenguajes, no es necesario declarar el tipo de variable

In [2]:
a=5
b = 5.6

In [3]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [4]:
a = 4.4 # reescribible
print(type(a))

<class 'float'>

In [5]:
# comentario corto

""" tres comillas (dobles o sencillas) 
para comentarios largos o descripciones
que abarquen varias lineas.

Por ejemplo dentro de funciones para indicar 
las variables de entrada y salida.
"""

a+20

24.4

### Casting 
Cambiar el tipo de variable

In [6]:
str(a)

t = '5.2'
type(t)

str

In [7]:
float(t)

5.2

### Nombrando variables

_case-sensitive_

In [8]:
b = 8
B = 'casa'
print("b = ", b, "  B = ", B)

b =  8   B =  casa

In [9]:
variable1 = 6.12
variable2 = 'h'
a2234567_567890 = 'algo'

**Los nombres de las variables NO pueden empezar con número**

Buenas prácticas: https://www.freecodecamp.org/news/snake-case-vs-camel-case-vs-pascal-case-vs-kebab-case-whats-the-difference/

In [10]:
# Snake case
numero_de_aciertos = 10

# Camel case
numeroDeAciertos = 10

# Pascal case
NumeroDeAciertos = 10

### Otras formas de imprimir resultados (pantalla y/o archivos)
Interpolacion de cadenas de caracteres

In [11]:
print("texto1 ", b, "  texto2 ", B)

texto1  8   texto2  casa

In [12]:
print("un int: " + str(b) + "  un str:" + B + "  un float:" + str(variable1))

un int: 8  un str:casa  un float:6.12

In [13]:
print(f"un int: {b}  un str:  {B}  un float: {variable1}")

un int: 8  un str:  casa  un float: 6.12

In [14]:
print("un int:{2}  un str:{1}  un float:{2}".format(b, B, variable1*2))

un int:12.24  un str:casa  un float:12.24

In [15]:
# d->int , f ->float, s->str

print("un int:%d  un str:%s un float:%.2f" % (b, B, 2*variable1))

un int:8  un str:casa un float:12.24

In [17]:
numeroFloat = 14.9876

print("%f" % numeroFloat)

14.987600

In [18]:
print("%.1f" % numeroFloat)

15.0

In [19]:
print("%.2f" % numeroFloat)

14.99

In [20]:
print("%d" % numeroFloat) #  en este caso NO redondea, solo regresa la parte entera

14

In [95]:
# quiebre de linea 
print("un int:%10d   \nun str:%10s  \nun float:%8.2f" % (b, B, 2*variable1))

un int:         8
un str:      casa
un float:   12.24

## Listas [  ]

Conjuntos de elementos (numeros y letras) dentro de corchetes [ ]. 

Cada elemento tiene asociado un indice (su posición). El contador comienza en 0.

In [67]:
lista1 = [1, 2, 3, 4]
lista2 = ['a', 'b', 'c']
lista3 = [1,'eee', 90, 9.98, 'esto es "un" elemento']

In [68]:
#extraer elementos  
lista3[4][8:12]
lista3[4][13:]

'elemento'

In [69]:
lista3[4][:4]

'esto'

In [70]:
# 'suma' de listas -> concatena

lista1+lista2

[1, 2, 3, 4, 'a', 'b', 'c']

In [71]:
# append agrega un elemento al final
lista1.append('nuevo')

In [72]:
lista1

[1, 2, 3, 4, 'nuevo']

In [73]:
# insert agrega un elemento en la posición del indice indicado
lista1.insert(3, 'otro')
lista1

[1, 2, 3, 'otro', 4, 'nuevo']

In [74]:
#pop elimina el elemento con la posición del indice indicado. Quita el ultimo si no se da indice
lista1.pop(3)

'otro'

In [75]:
lista1

[1, 2, 3, 4, 'nuevo']

In [76]:
lista1.append(3)
lista1.append('nuevo')
print(lista1)

In [77]:
# elimina la primera ocurrencia con el argumento indicado
lista1.remove('nuevo')
print(lista1)

[1, 2, 3, 4, 3, 'nuevo']

In [201]:
cadena = 'de caracteres con espacios'
cadena.split()

['de', 'caracteres', 'con', 'espacios']

In [202]:
cadena2 = 'otro#ejemplo de #conjunto# de caracteres con #espacio y #'
cadena2.split()

['otro#ejemplo',
 'de',
 '#conjunto#',
 'de',
 'caracteres',
 'con',
 '#espacio',
 'y',
 '#']

In [203]:
cadena2.split('#')

['otro', 'ejemplo de ', 'conjunto', ' de caracteres con ', 'espacio y ', '']

In [204]:
cadena.upper()

'DE CARACTERES CON ESPACIOS'

In [205]:
HOLA = 'HOLA'
HOLA.lower()

'hola'

In [206]:
list4 = [2,3,1,4,2,6,5,6,1,8,2,9,2]
set(list4)  # elementos unicos

{1, 2, 3, 4, 5, 6, 8, 9}

In [207]:
set1 = {1,2,3,2,4,2,1,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [210]:
set1.add(47)

In [211]:
set1

{1, 2, 3, 4, 5, 47}

## Range

Genera secuencias de números
# **[ ... )**

In [50]:
range(1,10)

range(1, 10)

In [51]:
[i for i in range(1,10,1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
# secuencia decreciente
[i for i in range(1,10,2)]

[1, 3, 5, 7, 9]

In [54]:
[i for i in range(10,1,-2)]

[10, 8, 6, 4, 2]

### Diccionarios  {  }

 Colección de datos organizados en pares _llave-valor_  (key-value)

In [96]:
dict1 = {
    'key1': 1,
    'key2': [2,3,2,3],
    'key3': 'a',
    'key4':{'sub_llave':[30,40,50]}
}

Para acceder al valor es como en las listas pero en lugar del indice se indica la llave

In [99]:
dict1['key4']['sub_llave'][1]

40

In [100]:
dict1.update({'key1':[5,2]}) # actualiza/reescribe un valor

In [101]:
dict1

{'key1': [5, 2],
 'key2': [2, 3, 2, 3],
 'key3': 'a',
 'key4': {'sub_llave': [30, 40, 50]}}

In [102]:
dict1['new_key'] = 1000

In [103]:
dict1['key2'].insert(1,9)

In [104]:
dict1

{'key1': [5, 2],
 'key2': [2, 9, 3, 2, 3],
 'key3': 'a',
 'key4': {'sub_llave': [30, 40, 50]},
 'new_key': 1000}

In [105]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'new_key'])

In [106]:
dict1.values()

dict_values([[5, 2], [2, 9, 3, 2, 3], 'a', {'sub_llave': [30, 40, 50]}, 1000])

In [107]:
dict1['key4']['sub_llave'].pop(1)

40

In [108]:
dict1

{'key1': [5, 2],
 'key2': [2, 9, 3, 2, 3],
 'key3': 'a',
 'key4': {'sub_llave': [30, 50]},
 'new_key': 1000}

In [109]:
dict1.pop('key2')

[2, 9, 3, 2, 3]

In [110]:
dict1

{'key1': [5, 2], 'key3': 'a', 'key4': {'sub_llave': [30, 50]}, 'new_key': 1000}

## Operadores
https://www.freecodecamp.org/espanol/news/operadores-basicos-en-python-con-ejemplos/

### Operadores aritméticos


### +   &nbsp;   -   &nbsp;   *   &nbsp;   **   &nbsp;     /   &nbsp;     //    &nbsp;   % 


//  (a//b   regresa el entero de a / b)  

%  modulo  (a % b   regresa el residuo de la parte entera a / b)

In [70]:
a**2

25

In [33]:
print("10//2 = ", 10//2, "  10%2 = ",10%2)

print("11//2 = ", 11//2, "  11%2 = ",11%2)

print("12//2 = ", 12//2, "  12%2 = ",12%2)

print("13//2 = ", 13//2, "  13%2 = ",13%2)

10//2 =  5   10%2 =  0
11//2 =  5   11%2 =  1
12//2 =  6   12%2 =  0
13//2 =  6   13%2 =  1

In [34]:
x , y, w = 1, 2, 3

numerador = (5*x**4 -1)**0.8
denominador = (w**3)*( 85*y**2 - x**3)

numerador/denominador

0.0003311955788288863

### Operadores relacionales

Compara y establece ua relación entre dos variables. 

Regresa un booleano (True o False)

### >   &nbsp;  <   &nbsp;  ==   &nbsp;   >=   &nbsp;     <=   &nbsp;     !=

In [72]:
8 < 10

True

In [74]:
a=4
b=19

a != b

True

In [75]:
'hola' == 'HOLA'

False

### Operadores de asignación

para asignar valores a las variables.

##### a = 5
##### a += 5 &nbsp;  &nbsp; a = a + 5
##### a -= 5 &nbsp;   &nbsp; a = a - 5
##### a *= 3 &nbsp;   &nbsp; a = a * 3
##### a /= 3 &nbsp;   &nbsp; a = a / 3
##### a %= 3 &nbsp;   &nbsp; a = a % 3
##### a **= 3 &nbsp;   &nbsp; a = a ** 3
##### a //= 3 &nbsp;   &nbsp; a = a // 3
##### a &= 3 &nbsp;   &nbsp; a = a & 3
##### a |= 3 &nbsp;   &nbsp; a = a | 3
##### a ^= 3 &nbsp;   &nbsp; a = a ^ 3
##### a >>= 3 &nbsp;   &nbsp; a = a >> 3
##### a <<= 3 &nbsp;   &nbsp; a = a << 3

In [76]:
i_count = 0
for j in range(0,5):
    i_count += 1 

i_count

5

### Operadores Lógicos


####  and  &nbsp;  &nbsp;    Devuelve True si ambas expresiones son True
#### or  &nbsp;  &nbsp;   Devuelve True si alguna de las expresiones es True
#### not  &nbsp;  &nbsp;  Devuelve True si la expresión es False

In [77]:
a , b = 3 , 5.5

(a < 10) and (b >= 5)

True

In [79]:
(a < 10) and (b <= 5)

False

In [80]:
not (b <= 5)

True

### Operadores de pertenencia

Se utilizan para saber si un valor se encuentra en un conjunto de elementos

####  in  &nbsp;  &nbsp;   not in

In [81]:
lista = [1, 2, 3, 4]

2 in lista

True

In [83]:
s = 'lakdhfjkla'

'k' in s

True

### Expresiones condicionales

Evalúan si una expresión es verdadera o no

#### if, elif, else

In [84]:
a = 200
b = 33

if b > a:
    print("b es mayor que a")
elif a == b:
    print("a y b son iguales")
else:
    print("a es mayor que b")

a es mayor que b

In [85]:
if a > b: print("a es mayor que b")

a es mayor que b

In [47]:
print("a es mayor que b") if a > b else print("b es mayor que a")

a es mayor que b

In [86]:
print("a es mayor que b") if a > b else print("a y b son iguales") if a == b else print("b es mayor que a")

a es mayor que b

In [49]:
if a > 50 or b > 50:
    print("al menos una es mayor que 50")

al menos una es mayor que 50

### While/For loops

Ejecutan instrucciones mientras se cumpla la condición.

In [87]:
for i in lista:
    print(i**2)

1
4
9
16

In [51]:
for i in 'kdkdkdkd':
    print(i)

k
d
k
d
k
d
k
d

In [88]:
u = []

for i in lista:
   u.append([i**2, i**3])

u

[[1, 1], [4, 8], [9, 27], [16, 64]]

In [155]:
[[i**2, i**3] for i in lista] # list comprehension

[[1, 1], [4, 8], [9, 27]]

In [157]:
lista_xy = [[1,2], [2,2], [3,5], [1,2]]

for i in lista_xy: print(i)

[1, 2]
[2, 2]
[3, 5]
[1, 2]

In [159]:
for i,j in lista_xy: print(i,j)

1 2
2 2
3 5
1 2

In [89]:
i = 1
while i < 6:
    print(i)
    i += 1  #

1
2
3
4
5

In [55]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [56]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i no es menor que 6")

1
2
3
4
5
i no es menor que 6

### Funciones

In [212]:
def nombre_funcion(x):
    ''' descripcion de la funcion
    entrada: x - variable de clase int
    salida: descripcion de los parametros de salida ''' #docstring
    r = x**2 + 1     
    return x, r
    #return x**2 + 1

nombre_funcion(4)

(4, 17)

In [ ]:
nombre_funcion #shift + tab = documentacion de la funcion

In [213]:
def hola_nombre(nombre = 'Karla'):
    """ regresa un saludo """
    print('Hola', nombre)

In [215]:
hola_nombre('Alex')

Hola Alex

In [115]:
def f_3params(x, y, z):
    ''' descripcion'''
    return x**2 + y**3 - z

f_3params(10, 2, 0.5)

107.5

In [216]:
a2, b2, c2 = 2, 0.2, 10 # variables globales 

def f_var_local(x):
    ''' descripcion'''
    c3 = 4 * c2   # variable local
    return a2 * x**b2 + c2

f_var_local(10)

13.169786384922228

In [222]:
f_var_local(10)

13.169786384922228

####  \*args y \**kwargs

\*parametros y \**parametros_con_nombre

Se utilizan cuando varía el número de parámetros de entrada de una función.

In [223]:
def n_params_cambiante(*parametros):
    ''' ejemplo de funcion con numero de parametros cambiante.
    input: cualquier cantidad de variables
    output: sumatoria de cada parametro al cuadrado '''
    cuads = 0
    for i in parametros:
        cuads = cuads + i**2
    return cuads

In [224]:
n_params_cambiante(2,4)

20

In [226]:
n_params_cambiante(2,4,3,4,5,7)

119

In [123]:
def n_params_cambiante2(x, *otros):
    print("primer parametro normal:", x)
    for par in otros:
        print("parametro de *otros:", par)

In [124]:
n_params_cambiante2('a', 'b', 'c', 'd')

primer parametro normal: a
parametro de *otros: b
parametro de *otros: c
parametro de *otros: d

#### \**kwargs se usa cuando los parametros (que pueden variar en número) están asociados a un nombre (key).

In [227]:
dict1 = {
    'key1': 1,
    'key2': [2,3,2,3],
    'key3': 5 
}

def n_params_cambiante_nombre(**parametros_con_nombre):
    for key, value in parametros_con_nombre.items():
        print("la llave {0} tiene de valor: {1}".format(key, value))
        

n_params_cambiante_nombre(**dict1)

la llave key1 tiene de valor: 1
la llave key2 tiene de valor: [2, 3, 2, 3]
la llave key3 tiene de valor: 5

## try, except

In [228]:
lista = [1,2,3]

In [230]:
try:
    lista[5]
except:
    print('no existe')

no existe

## map

Aplica una función a una lista elemento por elemento. 

Regresa una lista transformada.

In [231]:
def cubo(x):
    return x**3

In [235]:
e = list(map(cubo, lista))
e

[1, 8, 27]

### lambda

Función anónima. Util para funciones cortas.

In [236]:
def cubo(x):
    return x**3

In [237]:
def cubo(x): return x**3

In [238]:
lambda x: x**3

In [143]:
list(map(lambda x: x**3, lista))

[1, 8, 27]

In [239]:
cubo_lambda = lambda x: x**3

In [240]:
cubo_lambda(3)

27

## Filter

aplica filtro a una lista dada

In [241]:
filter(lambda x: (x**3)%2 == 1,lista)

In [242]:
list(filter(lambda x: (x**3)%2 == 1, lista))

[1, 3]

## Lectura/Escritura de datos (dat, txt, csv)

"a" -- append (agrega) si no existe lo crea

"w" -- write (reescribe) si no existe lo crea

"r" -- only read

"x" -- creates

In [243]:
f = open("ejemplo.txt", "w")
f.write("="*20)
f.write("\n%4d %4d"%(1,2))
f.write("\n%4d %4d"%(3,5))
f.close()

In [247]:
f = open("ejemplo.txt", "w")
f.write("%4s   %4s"%("i", "j"))

for i in range(0,20):
    f.write("\n%4d   %4.2f"%(i, i*0.1))

f.close()

In [248]:
f = open("ejemplo.txt", "r")
print(f.read())

   i      j
   0   0.00
   1   0.10
   2   0.20
   3   0.30
   4   0.40
   5   0.50
   6   0.60
   7   0.70
   8   0.80
   9   0.90
  10   1.00
  11   1.10
  12   1.20
  13   1.30
  14   1.40
  15   1.50
  16   1.60
  17   1.70
  18   1.80
  19   1.90

In [174]:
f = open("ejemplo.txt", "a")  # "a"-> append,  "w"-> sobrescribir  "x"-> crea
f.write("\nLinea extra")
f.close()

In [249]:
f = open("ejemplo.txt", "r")
print(f.read())

   i      j
   0   0.00
   1   0.10
   2   0.20
   3   0.30
   4   0.40
   5   0.50
   6   0.60
   7   0.70
   8   0.80
   9   0.90
  10   1.00
  11   1.10
  12   1.20
  13   1.30
  14   1.40
  15   1.50
  16   1.60
  17   1.70
  18   1.80
  19   1.90

In [185]:
f = open("ejemplo.txt", "w")
f.write("%4s   %4s"%("i", "10%"))

for i in range(0,20):
    f.write("\n%4d   %4.2f"%(i, j))

f.close()

In [250]:
from astropy.io import ascii
archivo_como_ascii = ascii.read('ejemplo.txt')

In [253]:
#archivo_como_ascii[0][:]

type(archivo_como_ascii['j'])

astropy.table.column.Column

In [254]:
import numpy as np
f=np.loadtxt('ejemplo.txt', skiprows=1)
col_i, col_j= f[:,0],f[:,1]

In [255]:
col_i

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19.])

In [256]:
import csv 

cols = ['i', 'j', 'k', 'l'] 

rows = [ ['A', '2', '9.0'], 
         ['B', '2', '9.1'], 
         ['C', '2', '9.3'], 
         ['D', '1', '9.5']] 

with open("ejemplo2.csv", "w") as csvfile: 
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(cols) 
    csvwriter.writerows(rows)

ejercicio: 

leer documento correos para:
- obtener una lista con los diferentes dominios

- crear nuevo documento indicando nombre de usuario y numero de vocales que contiene el nombre